<form action="/createpost" method="get">
<div class="row">
    <div class="col-auto">
        <h2>Welcome {{user.league_ign}}!</h2>
        <button class="create-btn" id="create-post" href="/create-post">CREATE</button>
    </div>
</div>
</form>
<br>
{{#each posters as |posts| }}
<div>
    <div class="posts">
        <p>
            Title:
            {{posts.title}}
        </p>
        <p>
            Description:
            {{posts.content}}
        </p>
    </div>
</div>
{{/each}}

<script src="./js/posts.js"></script>