<form action="/createpost" method="get">
<div class="row">
    <div class="col-auto">
        <h2>Welcome {{user.league_ign}}!</h2>
        <button class="create-btn" id="create-post" href="/create-post">CREATE</button>
    </div>
</div>
</form>
<br>
<div>
    {{#each posters as |posts|}}
    <div class='posts col-md-5'>
        <p>
            {{posts.title}}.
        </p>
    </div>
    <div class='col-md-7'>
        <p>
            description:
            {{posts.content}}
        </p>
    </div>
    {{/each}}
</div>

<script src="./js/posts.js"></script>