<div class="card">
  <h2 class="card-header create-title">Create LFG Post</h2>
  <form class="card-body lfg-body" id="new-post-form">
    <input type="hidden" name="post-id" value="{{posts.id}}" />
    <div class="lfg-title-cont">
      <label class="form-label lfg-info">Title</label>
      <input class="form-input create-input" type="text" name="post-title" />
    </div>
    <div class="textarea-cont">
      <label class="form-label lfg-info lfg-content">Content</label>
      <textarea
        class="form-textarea form-input create-text-area"
        name="post-body"
        data-number="8"
      ></textarea>
    </div>
    <button class="create-btn" id="create-post">CREATE</button>
  </form>
</div>