<div class="card landing-card">
    <div class="landing-card-body">
        <h1 class="landing-title">Champions Rift</h1>
        <div class="landing-intro">
            <h3 class="landing-caps">
                LFG FOR LEAGUE OF LEGENDS PLAYERS
            </h3>
            <h6 class="landing-text">
                Find the best teammates and create new friendships.
            </h6>
            <div>
                <img class="landing-image" src="./images/LoL-team.jpg" alt="LoL-teammates">
            </div>
            <div>
                <a href="./log-sign.handlebars"></a>
                <a href="/user/login"><button class="landing-signup-btn" id="signup-btn">Signup</button></a>
                </a>
            </div>
        </div>
    </div>
</div>