<div class="container">
  <div class="row">
    <div class="card col-6">
      <h2 class="card-header">Login Champion!</h2>
      <form class="card-body login-form">
        <div class="form-group">
          <label class="form-label fancy">Username:</label>
          <input id="name-login" class="form-input" type="text" />
        </div>
        <div class="form-group">
          <label class="form-label fancy">Password:</label>
          <input id="password-login" class="form-input" type="password"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">LOGIN</button>
        </div>
      </form>
    </div>

    <div class="card col-6">
      <h2 class="card-header">Join us Champion!</h2>
      <form class="card-body signup-form">
        <div class="form-group">
          <label class="form-label fancy">Username:</label>
          <input id="name-signup" class="form-input" type="text"/>
        </div>
        <div class="form-group">
          <label class="form-label fancy">Email:</label>
          <input id="email-signup" class="form-input" type="text"/>
        </div>
        <div class="form-group">
          <label class="form-label fancy">Password:</label>
          <input
            class="form-input"
            type="password"
            id="password-signup"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">JOIN</button>
        </div>
      </form>
    </div>
  </div>
</div>