<div class="card">
    <div class="card-header">
        <h2>Welcome to your profile Champion {{user.username}}!</h2>
    </div>
    <form class="card-body signup-form">
        <div class="form-group">
            <label class="form-label fancy">Change Username:</label>
            <input id="user-league-Ign" class="form-input" type="text"/>
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Email:</label>
            <input id="user-email" class="form-input" type="text"/>
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Password:</label>
            <input id="user-password" class="form-input" type="password"/>
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Rank:</label>
            <input id="user-rank" class="form-input" type="password"/>
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Role:</label>
            <input id="user-password" class="form-input" type="password"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="destroy">Delete Profile</button>
        </div>
    </form>
</div>
