<div class="card">
    <div class="card-header">
        <h2>Welcome to your profile Champion {{user.username}}!</h2>
    </div>
    <form class="card-body signup-form">
        <div class="form-group">
            <label class="form-label fancy">Change Username:</label>
            <input class="form-input" type="text" id="username-input-edit"/>
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Email:</label>
            <input class="form-input" type="text" id="email-input-edit"/>
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Password:</label>
            <input class="form-input" type="password" id="password-input-edit" />
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Rank:</label>
            <input class="form-input" type="password" id="rank-input-edit" />
        </div>
        <div class="form-group">
            <label class="form-label fancy">Change Role:</label>
            <input class="form-input" type="password" id="role-input-edit" />
        </div>
    </form>
</div>